<p id="notice"><%= notice %></p>

<h1><span style="color: blue;"><%= @team.name %></span> Standup Timer</h1>

<div>
  <%= button_to "New Standup", new_standup_team_path, class: "button", method: "post"  %>
</div>

<div>
<%= link_to 'Add User', new_user_path() %>
</div>
