.bp_centered {
  text-align: center;
}

.bp_v_spacer {
  margin-top: 20px;
}

.bp_button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
}

a.button {
  color: white !important;
}

.bp_alert {
  color: red;
}

.bp_content {
}