// Place all the styles related to the updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flip-clock-wrapper {
  left: 30px;
  padding-top: 20px;
  padding-bottom: 120px;
}